In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#Create file paths
csv_path1 = Path("FantasyPros_2019.csv")
csv_path2 = Path("FantasyPros_2020.csv")
csv_path3 = Path("FantasyPros_2021.csv")
csv_path4 = Path("FantasyPros_2022.csv")
csv_path5 = Path("FantasyPros_2023.csv")

#Create DataFrames
df1 = pd.read_csv(csv_path1)
df2 = pd.read_csv(csv_path2)
df3 = pd.read_csv(csv_path3)
df4 = pd.read_csv(csv_path4)
df5 = pd.read_csv(csv_path5)

#Join DataFrames
all_df = pd.concat([df1, df2, df3, df4, df5], axis = 0)
all_df.head()
# all_df.shape

,#,Player,Pos,Team,1,2,3,4,5,6,...,11,12,13,14,15,16,17,AVG,TTL,18
0,1,Lamar Jackson,QB,BAL,33.6,30.9,21.3,26.5,14.4,30.6,...,32.8,36.3,22.3,20.8,37.1,29.8,-,28.1,421.7,NaN
1,2,Christian McCaffrey,RB,SF,32.9,5.3,24.8,23.9,41.7,17.7,...,19.1,25.3,10.2,13.5,29.5,17.3,15.8,22.2,355.2,NaN
2,3,Dak Prescott,QB,DAL,33.4,28.7,23.5,8.6,26.2,18.2,...,31.6,7.9,23.7,17.5,17.7,11.3,29.6,21.8,348.8,NaN
3,4,Jameis Winston,QB,CLE,10.1,13.2,26.5,30.3,17.5,17.1,...,18.8,26.3,10.7,37.7,33.7,15,16.5,21.0,335.4,NaN
4,5,Russell Wilson,QB,PIT,16.6,24.2,41.3,14.3,29.9,28.9,...,-,10.5,17.9,11.6,19.3,11,20.2,20.9,333.6,NaN

In [3]:
#Look for values equal to dash
all_df[all_df["17"]=="-"]

,#,Player,Pos,Team,1,2,3,4,5,6,...,11,12,13,14,15,16,17,AVG,TTL,18
0,1,Lamar Jackson,QB,BAL,33.6,30.9,21.3,26.5,14.4,30.6,...,32.8,36.3,22.3,20.8,37.1,29.8,-,28.1,421.7,NaN
5,6,Deshaun Watson,QB,CLE,31.7,12.9,25.8,11.6,41.7,31.4,...,5,19.9,27.9,30.1,18.9,10.1,-,22.1,332.0,NaN
21,22,Kirk Cousins,QB,ATL,14.3,10.9,12.6,7.3,20.5,28.3,...,22.9,-,18,13.6,12.7,7.9,-,16.7,250.4,NaN
23,24,Dalvin Cook,RB,BAL,24,25.1,20.3,13,19.8,11.4,...,11.7,-,10.4,13.5,4.3,-,-,17.1,239.4,NaN
34,35,Mark Ingram II,RB,FA,22.7,7.7,31.5,7.1,10.9,13.4,...,20.5,23.8,6.2,7.9,22.6,15.1,-,14.4,216.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,698,Kyle Trask,QB,TB,-,-,-,-,BYE,-,...,-,0,-,-,-,-,-,-0.1,-0.1,-
698,699,Jonathan Williams,RB,WAS,-,-,-,-,-,-,...,-,-,-,BYE,-0.2,-,-,-0.2,-0.2,-
699,699,Teddy Bridgewater,QB,FA,-,-,-,-,-0.2,-,...,-,-,-,-,-,-,-,-0.2,-0.2,-
701,702,Nathan Peterman,QB,NO,-,-,-,-,-,-,...,BYE,-,-,-,-,-,-,-0.2,-0.4,0
702,703,Deon Jackson,RB,NYG,-1.2,-,-,-,-,-,...,-,-,BYE,-,-,-,-,-0.5,-1.0,-

In [4]:
#Replace missing values with zero
all_df.fillna(0, inplace=True)
all_df

,#,Player,Pos,Team,1,2,3,4,5,6,...,11,12,13,14,15,16,17,AVG,TTL,18
0,1,Lamar Jackson,QB,BAL,33.6,30.9,21.3,26.5,14.4,30.6,...,32.8,36.3,22.3,20.8,37.1,29.8,-,28.1,421.7,0
1,2,Christian McCaffrey,RB,SF,32.9,5.3,24.8,23.9,41.7,17.7,...,19.1,25.3,10.2,13.5,29.5,17.3,15.8,22.2,355.2,0
2,3,Dak Prescott,QB,DAL,33.4,28.7,23.5,8.6,26.2,18.2,...,31.6,7.9,23.7,17.5,17.7,11.3,29.6,21.8,348.8,0
3,4,Jameis Winston,QB,CLE,10.1,13.2,26.5,30.3,17.5,17.1,...,18.8,26.3,10.7,37.7,33.7,15,16.5,21.0,335.4,0
4,5,Russell Wilson,QB,PIT,16.6,24.2,41.3,14.3,29.9,28.9,...,-,10.5,17.9,11.6,19.3,11,20.2,20.9,333.6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,703,Deon Jackson,RB,NYG,-1.2,-,-,-,-,-,...,-,-,BYE,-,-,-,-,-0.5,-1.0,-
703,703,David Wells,TE,TB,-,-1,-,-,BYE,-,...,-,-,-,-,-,-,0,-0.5,-1.0,-
704,705,Kyle Allen,QB,PIT,-,-0.2,-0.2,-0.3,-,0,...,-0.2,-,-,-,-0.2,-,-0.2,-0.2,-1.3,-
705,706,James Proche II,WR,CLE,-,-,-,-,BYE,-,...,0,0,0,0,0,0,0,-0.2,-2.0,0
706,707,Trent Taylor,WR,CHI,0,0,-,0,0,0,...,0,0,BYE,0,-2,0,0,-0.1,-2.2,0

In [5]:
#Replace "bye weeks" with zero and check data types
all_df = all_df.replace("BYE", 0)
all_df = all_df.replace("-", 0)
# all_df.dtypes

In [6]:
#Create list to store columns that should have numeric values
val_columns = ["#", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", 
               "11", "12", "13", "14", "15", "16", "17", "18"]
#Convert columns to float
all_df[val_columns] = all_df[val_columns].astype(float)
all_df.dtypes

#         float64
Player     object
Pos        object
Team       object
1         float64
2         float64
3         float64
4         float64
5         float64
6         float64
7         float64
8         float64
9         float64
10        float64
11        float64
12        float64
13        float64
14        float64
15        float64
16        float64
17        float64
AVG       float64
TTL       float64
18        float64
dtype: object